.App {
  margin: 5vh auto;
  width: 90vw;
  height: 80vh;
  background-color: white;
  border-radius: 10px;
}
form {
  padding-top: 10vh;
  width: 70%;
  margin: auto;
}
.input-div {
  display: flex;
  margin-top: 1rem;
}
input {
  flex-grow: 1;
}
button {
  margin-left: 1rem;
  background-color: #5596f6;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  color: white;
  font-weight: 700;
}
